.estimation-cell div {
	background-color: rgb(255, 192, 0);
}

.estimation-cell div.done {
	background-color: rgb(146, 208, 80);
}

.newtask-sprints {
	position: relative;
	right: -13px;
}
.newtask-sprints input {
	margin-left: 5px;
}

.ihelper-versioninfo a {
	font-size: 10px;
    font-family: Calibri;
}
table.statistics {
	position: absolute;
	top: 32px;
}